{{template "layout" .}}

{{define "body"}}
<div class='about-text'>
  <p>
    This livegrep project was an experiment in scaling real-time
    regex search, inspired in part by the death of <a
    href="http://google.com/codesearch">Google Codesearch.</a>
  </p>
  <p>
    livegrep uses Russ Cox's excellent <a
    href="http://code.google.com/p/re2/">RE2</a> regular expression
    library, underneath a custom indexing and searching backend
    written in C++ with pthreads. The frontend is implemented in <a
    href="http://golang.org/">Go</a>.
  </p>
  <p>
    livegrep is written and run by <a
    href="https://nelhage.com/">Nelson Elhage</a> and is <a
    href="https://github.com/livegrep/livegrep">open source</a>.
  </p>
  <p>
    livegrep is deployed/maintained for the New York Times by
    Rodrigo Silva Mendoza in collaboration with Delivery Engineering. 
    Code for our fork is public and can be found <a href="https://github.com/xvandish/livegrep">here</a>.
    Code for the backing GKE deployment, as well as detailed architecture descriptions
    can be found internally, at <a href="https://github.com/nytimes/livegrep-instance">nytimes/livegrep-instance</a>. If you have any questions head over to <a href="https://nytimes.slack.com/archives/C038MH6L1B5">#dv-codesearch</a>.
  </p>
</div>
{{end}}
