{{template "layout" .}}

{{define "body"}}
{{with .Data}}
<section class="file-viewer">
  <header class="sticky-header">
    <nav class="header-title">
      {{$repo := .Repo.Name}}
      <a href="/delve/{{$repo}}/tree/{{.Commit}}/" class="path-segment repo" title="Repository: {{$repo}}">{{$repo}}</a>:
      {{range $i, $e := .PathSegments}}{{if gt $i 0}}/{{end}}<a href="{{$e.Path}}" class="path-segment">{{$e.Name}}</a>{{end}}{{ if ne .Commit "HEAD" }}<span class="ch">@{{.CommitHash}}</span>{{ end }}
    </nav>
    <ul class="header-actions without-selection">
      <li class="header-action">
        <a data-action-name="searchInCurrRepo" title="Perform a new search in this repo. Keyboard shortcut: ." href="#">new search in this repo [<span class='shortcut'>.</span>]</a>
      </li>,
      <li class="header-action">
        <a data-action-name="searchGlobally" title="Perform a new global search. Keyboard shortcut: /" href="#">new global search [<span class='shortcut'>/</span>]</a>
      </li>,
      <li class="header-action">
        <a id="external-link" data-action-name="" title="View at {{.ExternalDomain}}. Keyboard shortcut: v" href="#">view at {{.ExternalDomain}} [<span class='shortcut'>v</span>]</a>
      </li>,
      <li class="header-action new">
        <a id="commit-history" title="View commit history at. Keyboard shortcut: h" href="{{.LogLink}}">NEW: history [<span class='shortcut'>h</span>]</a>
      </li>,
      {{if .Permalink}}
      <li class="header-action">
        <a id="permalink" title="Permalink. Keyboard shortcut: y" href="{{.Permalink}}">permalink [<span class='shortcut'>y</span>]</a>
      </li>,
      {{else}}
      <li class="header-action">
        <a id="back-to-head" title="return to HEAD revision" href="{{.Headlink}}">back to HEAD</a>
      </li>,
      {{end}}
      <li class="header-action">
        <a data-action-name="help" title="View the help screen. Keyboard shortcut: ?" href="#">help [<span class='shortcut'>?</span>]</a>
      </li>
      <li class="header-action">
        <a data-action-name="toggleBlame" title="Toggle blame" href="#">toggle blame</a>
      </li>
    </ul>
    <ul class="header-actions with-selection" style="display:none">
      <li class="header-action">
        search for selected text in this repo [.]
      </li>,
      <li class="header-action">
        search for selected text globally [/]
      </li>,
      <li class="header-action new">
        <a id="commit-history" title="View commit history at. Keyboard shortcut: h" href="{{.LogLink}}">NEW: history [<span class='shortcut'>h</span>]</a>
      </li>,
      <li class="header-action">
        previous match [p]
      </li>,
      <li class="header-action">
        next match [n]
      </li>,
      <li class="header-action">
        <a data-action-name="help" title="View the help screen. Keyboard shortcut: ?" href="#">help [<span class='shortcut'>?</span>]</a>
      </li>
    </ul>
  </header>

  <div class="content-wrapper">
      {{with .DirContent}}
        <div class="dir-viewer-wrapper">
          <ul class="file-list">
              {{range $child := .Entries}}
              <li class="file-list-entry{{if $child.IsDir}} is-directory{{end}}{{if $child.SymlinkTarget}} is-symlink{{end}}">
                {{if $child.Path}}<a href="{{$child.Path}}">{{$child.Name}}{{if $child.IsDir}}/{{end}}</a>{{else}}{{$child.Name}}{{end}}
                {{if .SymlinkTarget}}&rarr; (<span class="symlink-target">{{.SymlinkTarget}}</span>){{end}}
              </li>
              {{end}}
          </ul>
          {{ with .ReadmeContent }}
            <div style="width:85%;">
              {{ template "filecontent" . }}
            </div>
          {{end}}
        </div>
      {{end}}
      {{with .FileContent}}
        {{ template "filecontent" . }}
      {{end}}
  </div>
  <div id="history-pane" data-open="true">
    <div class="title-bar" style="height:40px;">
      <div class="tabs">
        <button>History</button>
      </div>
      <div class="actions">
        <button id="toggle-history-pane">O/C</button>
      </div>
    </div>
    <button id="load-more-history-btn">Load more</button>
  </div>

  <section class="help-screen u-modal-overlay hidden">
    <div class="help-screen-card u-modal-content">
      <ul>
        <li>Click on a line number to highlight it</li>
        <li>Shift + click a second line number to highlight a range</li>
        <li>Press <kbd class="keyboard-shortcut">/</kbd> to start a new search</li>
        <li>Press <kbd class="keyboard-shortcut">b</kbd> to see which authors wrote which lines</li>
        <li>Press <kbd class="keyboard-shortcut">h</kbd> to see the commit history for this file</li>
        <li>Press <kbd class="keyboard-shortcut">v</kbd> to view this file/directory at {{.ExternalDomain}}</li>
        <li>Press <kbd class="keyboard-shortcut">y</kbd> to create a permalink to this version of this file</li>
        <li>Select some text and press <kbd class="keyboard-shortcut">/</kbd> to search for that text</li>
        <li>Select some text and press <kbd class="keyboard-shortcut">enter</kbd> to search for that text in a new tab</li>
        <li>Select some text and press <kbd class="keyboard-shortcut">p</kbd> for the previous match for that text</li>
        <li>Select some text and press <kbd class="keyboard-shortcut">n</kbd> for the next match for that text</li>
      </ul>
    </div>
  </section>
</section>
{{end}}
{{end}}
