<!-- this template will show detailed information about a commit -->
<!DOCTYPE html>
<html>
<head>
  <title>Git show</title>

<style>
.body {
  font-size: 1rem;
}
.diff-data span[data-line-type="insert"] {
    color: green;
}

.diff-data span[data-line-type="delete"] {
    color: red;
}

.green {
  color: green;
}

.red {
  color: red;
}
</style>
</head>
<body>
<section class="git-show">
  {{ with .Data }}

  <div class="commit-metadata">
  
    {{ with .Commit }}
      <div>
        <div>
          <span>commit </span>
          <a href="../commit/{{ .Hash }}">{{ .Hash }}</a>
        </div>
        <div>
          <span>parent(s) </span> 
          {{ range $ph := .ParentHashes }}
            <a href="../commit/{{$ph}}">{{ $ph }}</a>
          {{ end }}
        </div>
        <div>
          <span>Author </span> 
          <span>{{ .AuthorName }}
          &lt;<a href="mailto:{{.AuthorEmail}}">{{ .AuthorEmail}}</a>&gt;
          </span>
        </div>
        <div>
          <span>Date </span> 
          {{ .Date }}</div>
      </div>

      <div class="body-&-subject">
        <!-- TODO: add emphasis to subject -->
        <pre>{{ .Subject }}</pre>
        <pre>{{ .Body }}</pre>
      </div>
    {{ end }}

    {{ with .DiffStat }}
      <div class="diffstat">
    
        <table>
          <tbody>
            {{ range $sL := .StatLines }}
              <tr>
                <td><a href="{{ printf "#%s%d" "hunk" $sL.HunkNum }}">{{$sL.Path}}</a></td>
                <td> | </td>
                <td>{{$sL.LinesChanged}}</td>
                <td>
                  <span class="green">{{$sL.GraphStringPlus}}</span>
                  <span class="red">{{$sL.GraphStringMinus}}</span>
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>

        <span>{{.SummaryLine}}</span>
      </div>
    {{ end }}

  </div>

  <div class="diff-data">
    {{ range $diff := .Diffs }}
<pre id="{{ printf "%s%d" "hunk" $diff.HunkNum }}">
<b>{{ $diff.Header }}</b>{{ range $hL := $diff.HeaderLines }}{{ $hL }}{{ end }}{{ $diff.ChunkLine }}{{ range $line := $diff.Lines }}<span data-line-type="{{ $line.LineType }}">{{ $line.Line }}</span>{{ end }}
</pre>
    {{ end }}
  </div>

  {{end}}
<section/>
</body>
</html>
