<!-- this template will show detailed information about a commit -->
<!DOCTYPE html>
<html>
<head>
  <title>Git show</title>

</head>
<body>
<section class="git-show">
  {{ with .Data }}

  <div class="commit-metadata">
  
    {{ with .Commit }}
      <div>
        <div><span>commit </span> {{ .Hash }}</div>
        <div><span>parent </span> {{ .ParentHash }}</div>
        <div><span>Author </span> {{ .AuthorName }} {{ .AuthorEmail}}</div>
        <div><span>Date </span> {{ .Date }}</div>
      </div>

      <div class="body-&-subject">
        <pre>
          {{ .Subject }}
          {{ .Body }}
        </pre>
      </div>
    {{ end }}

    {{ with .DiffStat }}
      <div class="diffstat">
    
        <table>
          <tbody>
            {{ range $sL := .StatLines }}
              <tr>
                <td><a href="{{ printf "#%s%d" "hunk" $sL.HunkNum }}">{{$sL.Path}}</a></td>
                <td> | </td>
                <td>{{$sL.LinesChanged}}</td>
                <td>{{$sL.GraphString}}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>

        <span>{{.SummaryLine}}</span>
      </div>
    {{ end }}

  </div>

  <div class="diff-data">
    {{ range $diff := .Diffs }}
      <pre id="{{ printf "%s%d" "hunk" $diff.HunkNum }}">
      {{ $diff.Header }}
        {{ range $hL := $diff.HeaderLines }}
          {{ $hL }}
        {{ end }}
      {{ $diff.ChunkLine }}
      {{ range $line := $diff.Lines }}
        {{ $line }}
      {{ end }}
      </pre>
    {{ end }}
  </div>

  {{end}}
<section/>
</body>
</html>
