<!DOCTYPE html>
<html>
<head>
  <title>Git log</title>

{{linkTag .Nonce "stylesheet" "/assets/css/gitlog.css" .AssetHashes}}
{{scriptTag .Nonce "/assets/js/gitlog.js" .AssetHashes}}
</head>
<body>
<!-- start with table, move to divs with <flex if useful -->
<section class="simple-git-log">
  {{ with .Data }}


    {{ template "gitlogtable" . }}

    {{ if not .MaybeLastPage }}
    <button type="button" id="next-page-fetcher" data-action="getNextPage" value={{ .NextParent }}>Load More</button>
    {{ end }}

  {{end}}
<section/>
</body>
</html>
