{{template "layout" .}}

{{define "body"}}
<!-- start with table, move to divs with <flex if useful -->
<section class="">
  <header class="sticky-header">
    <nav class="header-title">
      {{$repo := .Data.Repo.Name}}
      <a href="/delve/{{ $repo }}/tree/HEAD/" class="path-segment repo">{{$repo}}</a>
      {{range $i, $e := .Data.PathSegments}}{{if gt $i 0}}/{{end}}<a href="{{$e.Path}}" class="path-segment">{{$e.Name}}</a>{{end}}
    </nav>
  </header>
</section>
<section class="simple-git-log">
  {{ with .Data }}


    {{ template "gitlogtable" . }}

    {{ if not .MaybeLastPage }}
    <button type="button" id="next-page-fetcher" data-action="getNextPage" value={{ .NextParent }}>Load More</button>
    {{ end }}

  {{end}}
<section/>
{{end}}
