/* Credit - https://aykevl.nl/2014/09/fix-jumping-scrollbar */
/* makes it so that on naviagtions (or events) the scrollbar
 * appearing doesn't cause a layout shift */
@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;

    --hover-highlight-color: #d0eaf9;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

#searcharea {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}

.input-line {
    position: relative;
}

.input-line .query-input-wrapper #searchbox {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding-right: 150px;
    padding-left: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all ease-in-out 100ms;
}

.input-line .query-input-wrapper #searchbox:hover {
    border-color: rgba(0, 126, 229, 0.25);

}

.input-line .query-input-wrapper #searchbox:focus-visible {
    border-color: rgba(0, 126, 229, 0.50);
    outline: none;
}

.input-line .inline-search-options {
    position: absolute;
    right: 0px;
    display: flex;
    gap: 3px;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.input-line .inline-search-options.left {
    left: 0px;
    right: unset;
    margin-left: 15px;
    margin-right: 0px;
}

.input-line .inline-search-options.left label {
    margin-top: 3px;
}

.query-hint-and-index-info {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    font-size: 11px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-right: 5px;
}

.query-hint-and-index-info code {
    border-radius: 3px;
    background-color: #f8f8f8;
    font-style: normal;
    margin: 0px 1px;
    padding: 1px 3px;
}

.search-options {
    width: 250px;
    max-width: 250px;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}

.search-option {
    white-space: nowrap;
}

#regex-error {
    padding-top: 3px;
    display: none;
}

#live-status-main-info-container {
    display: flex;
    align-items: center;
    color: #888;
    font-style: normal;
}

#live-status-sub-info {
    color: #888;
}

.live-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.live-dot[data-status='up'] {
    background-color: rgb(56, 142, 60);
}

.live-dot[data-status='down'] {
    background-color: red;
}

.live-dot[data-status='reloading'] {
    background-color: orange;
}

#errortext {
    color: #DD3B38;
    font-size: 14px;
}

/* Prefixed inputs are text inputs where the label appears before the input  */
.prefixed-input {
    width: calc(100% - 20px);
    position: relative;
}

.prefixed-input .prefix-label {
    position: absolute;
    top: 12px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.prefixed-input.filter-code .prefix-label {
    top: 14px;
}

.prefixed-input input[type=text] {
    text-indent: 50px;
    background-color: transparent;
}
/* END */

.tooltip-target {
    border-bottom: 1px dotted #000;
    position: relative;
    cursor: help;
}

.tooltip {
    display: none;
    position: absolute;
    top: 20px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0px 4px;
    background-color: #fff;
}

.tooltip-target:hover .tooltip {
    display: block;
}

#searchtimebox {
    display: none
}

#resultbox {
    padding: 1em 3em;
    width: 100%;
    max-width: 1240px;
    margin: auto;
    box-sizing: border-box;
}

#helparea {
    color: #333;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: monospace;
    font-size: 0.8em;
}

.helpsection {
    margin: auto;
    text-align: center;
}

#helparea table {
    width: 100%;
}

#helparea #joined-stuff {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 50px;
    width: 100em;
    margin: auto;
}

#query-terms-table {
    border-collapse: collapse;
    font-family: monospace;
    margin-bottom: 20px;
}

#query-terms-table tr:nth-child(even) {
    background-color: #fafafa;
}

#query-terms-table tr:hover {
    background-color: var(--hover-highlight-color);
}

#query-terms-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

#query-terms-table #multiple-examples {
    display: grid;
    gap: 10px;
}

#helparea #recent-searches .searches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#helparea #recent-searches .searches-container button {
    background-color: #fafafa;
    border-radius: 3px;
    padding: 5px;
    border: none;
    width: 100%;
    min-height: 2rem;
    overflow-wrap: break-word;
}

#helparea #recent-searches .searches-container button:hover {
    background-color: var(--hover-highlight-color);
}

.credit {
    text-align: center;
    font-size: smaller;
    color: #999;
}

.label {
    font-weight: bold;
}

#results {
    margin-top: 10px;
    outline: none; /* despite 'tabindex' that lets it receive keystrokes */
    font-family: ui-monospace,"Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace
}

#results #file-results {
    margin-bottom: 3rem;
}

.path-results .hidden {
    display: none;
}

.path-results .show-more-filematches-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    background-color: #eaeaea;
    border-radius: 3px;
    padding: 5px;
    border: none;
}

.path-results .show-more-filematches-btn:hover {
    background-color: var(--hover-highlight-color);
}

.path-results .show-more-filematches-btn img.open {
    transform: rotate(180deg);
}

.path-results {
    margin-bottom: 30px;
}

.file-extensions {
    margin-bottom: 15px;
}

.file-extensions button {
    margin-left: 4px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
}

.file-extensions button:hover {
    background-color: var(--hover-highlight-color);
}

.file-group {
    margin-bottom: 15px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.file-group .header {
    background: rgba(19, 61, 153, 0.09);   
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    margin-bottom: 10px;
}

.file-action-link-separator {
    padding-left: 3px;
    padding-right: 3px;
}

.header-path {
    flex-grow: 1;
}

.result-path {
    color: #3d464d;
    font-family: "Menlo", "Consolas", "Monaco", monospace;
    font-size: 12px;
    font-weight: normal;
}

.result-path .filename {
    font-weight: bold;
}

.result-path .repo, .result-path .version {
    color: rgba(0, 0, 0, 0.5);
}

.match {
    display: block;
    background-color: #fff;
}

.file-group .match:last-of-type {
    padding-bottom: 10px;
}

.match.clip-before {
    margin-top: 0;
    border: none;
}

.match.clip-after {
    border: none;
}

/* wrap lines within .contents so we can highlight all 
 * blocks at the same time */
.match .content-line-wrapper {
    display: contents;
}

/* Blank lines are used to space match groups within the 
 * same file that start/end at different line numbers */
.match .content-line-wrapper.blank-line > * {
    background-color: #f6f8fa;
}

.match .content-line-wrapper:hover > * {
    background-color: var(--hover-highlight-color);
}

.match .contents {
    display: grid;
    /* 5em to allow for line numbers like in the tens of thousands */
    grid-template-columns: 5em auto auto;
    white-space: pre-wrap;
     /* Break lines that have no white-space in them, but are too long. */
    overflow-wrap: anywhere;
    font-family: "Menlo", "Consolas", "Monaco", monospace;
    font-size: 12px;
    color: #000;
    margin: 0;
}

#results.no-context .match .content-line-wrapper.ctx > * {
    display: none;
}

.no-context .match {
    border-top: none;
    margin-top: 0;
}

.no-context .match .contents {
    padding-top: 0;
    padding-bottom: 0;
}

.lno-link {
    color: #6e7781;
    padding-right: 1em;
    text-align: right;
}

.lno-link:hover {
    color: black;
}

.lno:before {
    content: attr(aria-label);
}

.matchlno {
    font-weight: bold;
}

.matchlinks {
    opacity: 0.3;
    text-align: right;
}

.match:hover .matchlinks {
    opacity: 1.0;
}

.matchstr {
    background: rgba(255, 234, 170, 0.75);
    font-weight: bold;
}

#countarea {
    font-size: 14px;
    text-align: right;
}

#header ul {
    padding: 0;
    color: #999;
    margin-bottom: 30px;
}

#header li {
    display: inline;
}

#header li:before {
    content: "∙";
    color: #999;
    text-decoration: none;
    margin: 5px;
}

#header li:first-child:before {
    content: ""
}

#header h1 {
    font-family: monospace;
}

#header {
    font-size: 12px;
    margin: 1em auto;
    width: 40em;
    text-align: center;
}

#resultarea {
    font-size: 0.75em;
}

/* File viewer */
.file-viewer {
    border-collapse: collapse;
    margin: 0;
    line-height: 1.2;
    width: 100%;
    overflow: visible; /* Allow code content to overflow */
    font-family: "Menlo", "Consolas", "Monaco", monospace;
    font-size: 12px;
}

.file-viewer .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 8px;
    /* The left padding should be the width of the .line-number column + the left margin
       of the code block. This will align the header content with the code. */
    padding-left: 95px;

    background-color: white;
    border-bottom: solid 1px rgba(0,0,0,0.15);
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.file-viewer .header .repo {
    color: rgba(0, 0, 0, 0.5);
}

.file-viewer .header .repo:hover {
    color: rgba(0, 0, 0, 1.0);
}

.file-viewer .header-title {
    font-size: 13px;
    padding: 0;
    margin: 0 0 5px 0;
    font-weight: normal;
    overflow: auto;
}

.file-viewer .content-wrapper {
    /* Offset the content so that the overlapping header doesn't occlude it. */
    position: relative;
    margin-top: 5em;
}

.file-viewer .dir-viewer-wrapper {
    display: flex;
    align-items: baseline;
}

.file-viewer .file-content {
    position: relative;
}

.file-viewer .file-content, .file-viewer .file-content code {
    font-family: "Menlo", "Consolas", "Monaco", monospace;
    font-size: 12px;
}

.file-viewer .line-numbers {
    top: 0;
    left: 0;
    width: 75px;
    text-align: right;
}

.file-viewer .line-numbers > .line:focus {
    outline: none;
}

.file-viewer .line-numbers a:focus {
    outline: solid 1px rgba(255, 234, 170, 0.5);
    background: rgba(255, 234, 170, 0.33);
}

.file-viewer .line-numbers .highlighted {
    background: rgba(255, 234, 170, 0.75);
    left: 0;
    width: 100%;
}

.file-viewer .line-numbers a.highlighted:focus {
    background: rgba(255, 234, 170, 0.75);
}

.file-viewer .line-numbers a {
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.file-viewer .line-numbers a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}
.file-viewer .code-pane {
    position: absolute;
    top: 0;
    left: 75px;
    width: 30%;
    overflow: visible;
    margin: 0 0 0 20px;
    white-space: pre;
}

.file-viewer .help-screen .u-modal-content {
    width: 600px;
    padding: 20px;
}

.file-viewer .help-screen li {
    line-height: 2;
}

.file-viewer .help-screen .keyboard-shortcut {
    background: rgba(0,0,0,0.05);
    border: solid 1px rgba(0,0,0,0.05);
    padding: 0px 3px;
    font-weight: bold;
}

.file-viewer .query {
    width: 100%;
    max-width: 800px;
    padding: 20px 30px;
}

.file-viewer .query:focus {
    outline: none;
}

/* Header actions */
.header-actions {
    font-size: 13px;
    margin: 0;
    padding: 0 0 0 5px;
    color: rgba(0, 0, 0, 0.5);
    border-left: solid 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.8s;
}

.header-actions:hover {
    border-color: rgba(0, 0, 0, 0.25);
}

.header-action {
    margin: 0;
    display: inline-block;
    list-style: none;
}

.header-action .keyboard-hint {
    color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
}

.header-action a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.header-action a:hover, .header-action a:focus {
    color: rgba(0, 0, 0, 1);
}

.header-action .shortcut {
    font-weight: bolder;
    text-decoration: underline;
}
/* END */

/* File list */
.file-list {
    margin: 0;
    padding: 20px 40px 0;
    list-style: none;
}

.file-list-entry {
    margin: 2px 0 0 0;
}

.file-list-entry.is-directory {
    font-weight: bold;
}

.file-list-entry.is-symlink {
    color: rgba(0, 0, 0, 0.75);
}

.file-list-entry .symlink-target {
    color: rgba(0, 0, 0, 0.55);
}
/* END */

/* Utility */
.hidden {
    display: none !important;
}

.noscroll {
    overflow: hidden;
}

.u-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 60px;
    margin: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.u-modal-content {
    z-index: 1;
    background: white;
    border:  solid 1px rgba(0,0,0,0.25);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
    text-align: left;
    display: inline-block;
}

.u-right {
    float: right;
}
/* END */

.about-text {
    width: 40em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 3rem;
}

.textarea {
    width: 40em;
    margin: auto;
    margin-bottom: 1em;
    border: 1px solid black;
}

.textarea p {
    margin: 10px;
}

/* /help */

div.example {
    margin: 10px;
    width: 20em;
    padding-left: 2em;
}

.query {
    font-family: "Menlo", "Consolas", "Monaco", monospace;
    font-size: 12px;
    font-weight: bold;
}

.example .link {
    font-size: 80%;
    float: right;
}

/* Colors, without all the other disruptive markup, from:
   https://raw.githubusercontent.com/PrismJS/prism-themes/master/themes/prism-ghcolors.css
   with color 00a4db darkened to 0075a9 to improve contrast.
*/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988; font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string,
.token.attr-value {
    color: #e3116c;
}
.token.punctuation,
.token.operator {
    color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #007c7b;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #0075a9;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.code-result {
    /* padding: 10px; */
    margin-bottom: 30px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-family: ui-monospace,"Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace;
}

.code-result .cr-header {
    background-color: rgba(19, 61, 153, 0.09);
    padding: 6px;
}

.code-result .cr-header .matches {
    color: #888;
    font-size: 0.7rem;
}

.cr-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cr-header .links {
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
}

.cr-header .links .repo-link {
    color: #3d464d; 
    white-space: nowrap;
}

.cr-header .links .path-link {
    color: #224a6d;
    font-weight: bold;
}

.cr-header .links .path-link .highlighted {
    background-color: rgba(255, 234, 170, 0.75);
}

.code-result .cr-lines {
    padding: 10px;
}

/* svelete rewrite stuff */
.code-line {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1px 4px;
}

.code-line:hover {
    background-color: #EAEAEA;
}

.code-line .num-link {
  min-width: 40px;
  user-select: text;
  text-decoration: none;
  color: #185890;
}

.code-line .num-link:hover {
    text-decoration: underline;
}

.code-line .num-link .num.bold {
    font-weight: bold;
}

.code-line .line > pre {
    margin: 0px;
    font-family: ui-monospace,"Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace
}

/* This works, but not sure why the line-height if I set pre-wrap for .line is
 * so high... */
.code-line .line span {
    white-space: pre-wrap;
}

.code-line .line .highlighted {
    background-color: rgba(255, 234, 170, 0.75);
}

.blank-line {
    background-color: #f9f9fa;
}

.blank-line:hover {
    background-color: #EAEAEA;

}

.blank-line .num-dots {
    max-width: 27px;
    color: #71b1e3;
    margin-left: 10px;
}

.regex-toggle {
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

/* we go to all this trouble so that hovering is noticable,
 * a selected toggle/button is noticeable, and when hovering
 * over a selected button, you notice when it's selected or not. */
.regex-toggle[data-selected="true"] {
    background-color: #337ab7;
}

.regex-toggle[data-selected="true"] svg {
    fill: white;
}

.regex-toggle:hover {
    cursor: pointer;
}

.regex-toggle[data-selected="false"]:hover {
    background-color: var(--hover-highlight-color);
}

.clear-input {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1px;
}

.clear-input:hover {
    background-color: #eaeaea;
}

/* float the icon over the select, padd the select text
 * so it all looks like the same element */
.select-with-icon-container {
    position: relative;
    display: flex;
    align-items: end;
}

.select-with-icon-container:hover {
    cursor: pointer;
}

.select-with-icon-container .icon {
    position: absolute;
    left: 2px;
    bottom: -3px;
}

.select-with-icon-container select {
    padding: 5px;
    padding-left: 25px;
    border-radius: 5px;
    border: none;
    background-color: #fafafa;
}

.select-with-icon-container select:hover {
    cursor: pointer;
    background-color: var(--hover-highlight-color);
}
