body {
    font-family: monospace;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

.simple-git-log {
    max-width: 1300px;
    margin: auto;
}

#log-table tr {
    display: grid;
    /* shortHash, name, commitTime, commitMsg */
    grid-template-columns: 100px 15% 200px 1fr;
    justify-content: flex-start;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.12); /* hairline color from cs.opensource.google */
}

#log-table tr:hover {
    background-color: #FAFAFA;
}

#log-table th, td {
    padding: 10px;
}

#log-table .expanded-row-content {
    border-top: none;
    display: grid;
    grid-column: 1/-1;
    justify-content: flex-start;
    font-size: 14px;
}

#log-table .hide-row {
    display: none;
}

#log-table .hidden-text-expander {
    position: relative;
    top: -1px;
    display: inline-block;
    margin-left: 5px;
    line-height: 0;
}

#log-table .ellipses-expander {
    display: inline-block;
    height: 12px;
    padding: 0 5px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 6px;
    text-decoration: none;
    vertical-align: middle;
    background: rgba(175,184,193,0.2);
    border: 0;
    border-radius: 1px;
}
