body {
    font-family: "Menlo", "Consolas", "Monaco", monospace;
    margin: 0;
    line-height: 1.2;
}

.content {
    margin-top: 60px;
    padding: 10px;
    overflow-x: auto; /* if the table overflows, scroll it */
}

h1 {
    font-size: 1.5em;
    margin-left: 20px;
}

#log-table {
  font-family: monospace;
  border-spacing: 20px;
  width: 100%;
}

#log-table thead {
  text-align: left;
}

#log-table tr {
  text-align: left;
}

#log-table td {
  vertical-align: top;
}

.lines-added, .lines-removed, .files-changed {
    text-align: right;
}

td.lines-added {
    color: green;
}

td.lines-removed {
    color: red;
}

.no-margin {
    margin: 0;
}
